body {
    font-family: 'Roboto', sans-serif;
}

form label {
    font-size: 18px;
}

.btn {
    width: 100%
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
